.home-catalog
  .main-title.bold каталог
  .home-catalog__list
    a(href="#").home-catalog__item
      .title угловые диваны
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg1.jpg);")
    a(href="#").home-catalog__item
      .title прямые диваны
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg2.jpg);")
    a(href="#").home-catalog__item
      .title мини <br> диваны
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg3.jpg);")
    a(href="#").home-catalog__item
      .title кухонные зоны
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg5.jpg);")
    a(href="#").home-catalog__item
      .title кресла
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg1.jpg);")
    a(href="#").home-catalog__item
      .title мягкие кровати
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg2.jpg);")
    a(href="#").home-catalog__item
      .title аксессуары
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg3.jpg);")
    a(href="#").home-catalog__item
      .title акции
      img(src="img/next.png", alt="img").arrow
    .bg(style="background-image:url(img/bg5.jpg);")
.pageDown
  .bg(style="background-image:url(img/bg5.jpg);")
  img(src="img/down.png", alt="")
