.home-news
  .home-news__title
    .main-title.bold Новости
    .sofa-carousel__next
      img(src="img/next.png", alt="img")
  .home-news__carousel
    .news-carousel.owl-carousel
      each val in [,,,]
        .slide-owl
          div
            .date 27.10.2017
            .info
              .title новость в три строчки не более
              a(href="#" target="_blank").link посмотреть
        .slide-owl
          div
            .date 27.10.2017
            .info
              .title новость в три строчки не более
              a(href="#" target="_blank").link посмотреть
        .slide-owl
          div
            .date 27.10.2017
            .info
              .title новость в три строчки не более
              a(href="#" target="_blank").link посмотреть
        .slide-owl
          div
            .date 27.10.2017
            .info
              .title новость в три строчки не более
              a(href="#" target="_blank").link посмотреть
        .slide-owl
          div
            .date 27.10.2017
            .info
              .title новость в три строчки не более
              a(href="#" target="_blank").link посмотреть
        .slide-owl
          div
            .date 27.10.2017
            .info
              .title новость в три строчки не более
              a(href="#" target="_blank").link посмотреть

.pageUp
  .bg(style="background-image:url(img/bg1.jpg);")
  img(src="img/down.png", alt="")
