.sofa-carousel
  .slide
    .sofa-carousel__title-block
      .sofa-carousel__type диван
      .sofa-carousel__name ФЕНИКС
        sup new
      .sofa-carousel__next
        img(src="img/next.png", alt="img")
    .sofa-carousel__img-block
      .angleBot
      .img-area.owl-carousel
        div
          .info
            .sofa-carousel__type диван
            .sofa-carousel__name ФЕНИКС
              sup new
          img(src="img/sofa1.png", alt="img")
        div
          .info
            .sofa-carousel__type диван
            .sofa-carousel__name ПЕНИКС
          img(src="img/sofa2.png", alt="img")
      .angleUp
.pageDown
  .bg(style="background-image:url(img/bg2.jpg);")
  img(src="img/down.png", alt="")
