.home-adv
  .main-title современное производство
  .main-title.bold качественной мягкой мебели
  .home-adv__list.pp-ns
    .home-adv__item
      .title
        .num
          img(src="img/num1.png", alt="img")
        .text Система контроля <br> качества <br> на производстве
      .info Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit 
    .home-adv__item
      .title
        .num
          img(src="img/num2.png", alt="img")
        .text Гарантия <br> на мебель <br> 18 месяцев
      .info Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit 
    .home-adv__item
      .title
        .num
          img(src="img/num3.png", alt="img")
        .text Сертификаты <br> соответствия <br> нормативным <br> требованиям
      .info Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit 
    .home-adv__item
      .title
        .num
          img(src="img/num4.png", alt="img")
        .text Уникальный дизайн, <br> комфорт и <br> безопасность
      .info Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit 
.pageDown
  .bg(style="background-image:url(img/bg3.jpg);")
  img(src="img/down.png", alt="")
