.home-sertificates
  .home-sertificates__title
    .main-title.bold сертификаты
    .sofa-carousel__next
      img(src="img/next.png", alt="img")
  .home-sertificates__carousel
    .sertificates-carousel.owl-carousel
      each val in [,,,]
        .slide-owl
          div
            .num
              img(src="img/num1.png", alt="img")
            .info
              .title сертификат <br> качества №1
              a(href="http://www.gkterminal.ru/upload/iblock/900/900adfa174f75959b3c183b1a6d4f73f.jpg" target="_blank").link посмотреть
        .slide-owl
          div
            .num
              img(src="img/num2.png", alt="img")
            .info
              .title сертификат <br> качества №2
              a(href="http://www.gkterminal.ru/upload/iblock/900/900adfa174f75959b3c183b1a6d4f73f.jpg" target="_blank").link посмотреть
        .slide-owl
          div
            .num
              img(src="img/num3.png", alt="img")
            .info
              .title сертификат <br> качества №3
              a(href="http://www.gkterminal.ru/upload/iblock/900/900adfa174f75959b3c183b1a6d4f73f.jpg" target="_blank").link посмотреть
        .slide-owl
          div
            .num
              img(src="img/num4.png", alt="img")
            .info
              .title сертификат <br> качества №4
              a(href="http://www.gkterminal.ru/upload/iblock/900/900adfa174f75959b3c183b1a6d4f73f.jpg" target="_blank").link посмотреть
        .slide-owl
          div
            .num
              img(src="img/num5.png", alt="img")
            .info
              .title сертификат <br> качества №5
              a(href="http://www.gkterminal.ru/upload/iblock/900/900adfa174f75959b3c183b1a6d4f73f.jpg" target="_blank").link посмотреть
        .slide-owl
          div
            .num
              img(src="img/num1.png", alt="img")
            .info
              .title сертификат <br> качества №1
              a(href="http://www.gkterminal.ru/upload/iblock/900/900adfa174f75959b3c183b1a6d4f73f.jpg" target="_blank").link посмотреть

.pageDown
  .bg(style="background-image:url(img/bg6.jpg);")
  img(src="img/down.png", alt="")
