.home-about
  .main-title фабрика мягкой мебели
  .main-title.bold панда
  .home-about__content.js-ns
    p Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum
    p Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit a
    p met Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet? orem ipsum dolor sit amet! Lorem psum dolor sit amet? Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit amet?
.pageDown
  .bg(style="background-image:url(img/bg4.jpg);")
  img(src="img/down.png", alt="")
