.home-sertificates.about-slider
  .home-sertificates__title
    .main-title.bold партнерская <br> оптовая программа
    .sofa-carousel__next
      img(src="img/next.png", alt="img")
  .about-info-carousel.owl-carousel
    .info-slide.js-ns
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptatum officia, recusandae repellendus, esse facere voluptates, dolor id vitae itaque odio repudiandae eos quas delectus quod fuga aperiam quos, corporis molestiae animi quibusdam reprehenderit? Facilis, est impedit nemo sed quam quisquam quod explicabo quia maxime quibusdam voluptates non a perferendis necessitatibus suscipit reiciendis consequuntur nam soluta, officiis deserunt ducimus quaerat? Molestiae distinctio sunt iure deleniti, officiis minima debitis. Animi maiores enim consequuntur consectetur, harum officiis aperiam accusamus eius consequatur laborum nobis corrupti quam, unde doloremque explicabo numquam corporis. Nostrum minus optio quos, suscipit voluptate dolores enim quod quasi, labore. Corporis quia eveniet ex perferendis ipsam dolorem. Reiciendis ipsam laudantium quo eaque quasi animi assumenda, laborum, aliquam eveniet omnis placeat, fugit optio. Nam qui aliquam saepe hic, nobis est.
    .info-slide.js-ns
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum necessitatibus cum praesentium, omnis repellat ipsum nesciunt, similique iure, repellendus aperiam, numquam temporibus officiis vel quidem. Incidunt aperiam ipsam nam soluta vitae eum, quae at commodi, veritatis est expedita itaque reprehenderit doloribus minima molestias. Odio atque unde neque hic provident cupiditate soluta accusamus, numquam ex maxime deleniti perspiciatis, sed at! Expedita laudantium explicabo quia eius assumenda corrupti minus, fugit voluptatum nulla, libero accusantium cum omnis veniam minima. Explicabo dicta magni eveniet velit, dolor expedita, molestias, beatae pariatur et doloremque assumenda. Beatae nemo ab at id, eius quam molestias rem autem ad quis ducimus veritatis harum fuga, consectetur asperiores mollitia aspernatur voluptatibus! Modi molestiae quisquam assumenda cupiditate explicabo maxime, eligendi, animi voluptatem dolore delectus, iure quos quis amet quidem ipsa.
.pageDown
  .bg(style="background-image:url(img/abg3.jpg);")
  img(src="img/down.png", alt="")
