include blocks/top-menu

extends blocks/layout.jade

block head
	- var pageTitle = 'Главная';

block content
	include blocks/side-menu
	.right-side
		+top-menu({tab:1})
		.hamburger
					span
					span
					span
		.main__home#pagepiling
			.section(style="background-image:url(img/bg1.jpg);").homesec1
				include elements/home-1
			.section(style="background-image:url(img/bg2.jpg);")
				include elements/home-2
			.section(style="background-image:url(img/bg3.jpg);")
				include elements/home-3
			.section(style="background-image:url(img/bg4.jpg);").homesec4
				include elements/home-4
			.section(style="background-image:url(img/bg5.jpg);")
				include elements/home-5
			.section(style="background-image:url(img/bg6.jpg);")
				include elements/home-6
