nav.top-menu
  ul.top-menu__nav
    li
      a(href="#") ГЛАВНАЯ
    li
      a(href="#") О КОМПАНИИ
    li
      a(href="#") ПАРТНЕРАМ
    li
      a(href="#") ГДЕ КУПИТЬ
    li
      a(href="#") ГДЕ КУПИТЬ
    li
      a(href="#").lk Войти <br> в личный <br> кабинет
    li
      a(href="#")
        img(src="img/cart.png", alt="img", width="42").ico
