//colors
$text-grey = #393939

//varaibles
animation = .5s ease all
$opsan = 'Open Sans', sans-serif

//MIXINs
media(maxWidth)
	@media screen and (max-width: maxWidth)
		{block}

min-media(minWidth)
	@media screen and (min-width: minWidth)
		{block}
