//colors
$text-grey = #393939
$cv-orange = #f38f2e

//varaibles
animation = .5s ease all
$opsan = 'Open Sans', sans-serif


//MIXINs
media(maxWidth)
	@media screen and (max-width: maxWidth)
		{block}

min-media(minWidth)
	@media screen and (min-width: minWidth)
		{block}

pxvw($px)
	font-size ($px)px
	font-size ($px / (1920 * 0.01))vw

maxvw($px)
	max-width ($px)px
	max-width ($px / (1920 * 0.01))vw
