.main__home
  .section
    background-size cover
    background-repeat no-repeat
    background-color #e0dfdc
    background-position bottom
    &.homesec1
      +below(1200px)
        background-size auto 200%
  .pageDown
  .pageUp
    position absolute
    width 165px
    height 165px
    border-radius: 50%;
    right 100px
    bottom 15px
    text-align center
    transition: .5s;
    cursor pointer
    +below(1500px)
      width 125px
      height 125px
    &:hover
      .bg
        opacity 1
    .bg
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      border-radius: 50%;
      background-repeat no-repeat
      background-size cover
      z-index 5
      opacity 0
      transition: .5s;
    img
      position relative
      z-index 6
      padding-top 40px
      +below(1500px)
        padding-top 25px
  .pageUp
    transform: rotate(180deg);
    .bg
      transform: rotate(180deg);


.sofa-carousel
  .slide-owl
    position relative


.sofa-carousel__img-block
  position relative
  width 100%
  margin-top 5vw
  .img-area
    position relative
    margin: 0 auto;
    padding 25px 0
    .owl-item
      padding-left calc(5vw + 50px)
    .info
      display none
    img
      maxvw(917)
      width 100%
  .angleBot
    position absolute
    bottom 0
    left 5vw
    width 110px
    height 60px
    border-left 4px solid $cv-orange
    border-bottom 4px solid $cv-orange
  .angleUp
    position absolute
    top 0
    left 987px
    left 51.40vw
    width 110px
    height 60px
    border-top 4px solid $cv-orange
    border-right 4px solid $cv-orange

.sofa-carousel__title-block
  padding-left 5vw

.sofa-carousel__type
  color: #080808;
  pxvw(102)
  font-weight: 400;
  letter-spacing: 1.52px;
.sofa-carousel__name
  color: #080808;
  pxvw(102)
  font-weight: 700;
  letter-spacing: 6.1px;
  sup
    position relative
    top -3.5vw
    color: #ffffff;
    pxvw(59)
    font-style: italic;
    letter-spacing: 1.52px;
.sofa-carousel__next
  max-width 288px
  max-width 13vw
  width 100%
  cursor pointer




.home-adv
.home-about
  padding 0 4.14vw

.main-title
  color: #080808;
  pxvw(49)
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.52px;
  &.bold
    font-weight bold
    letter-spacing: 6.1px;

.home-adv__list
  display -webkit-flex
  display -ms-flex
  display flex
  flex-wrap wrap
  justify-content space-between

.home-adv__item
  flex-basis 45%
  margin-top 4vw
  +below(1500px)
    margin-top 2vw
  .title
    padding-bottom 24px
    margin-bottom 24px
    position relative
    +below(1500px)
      padding-bottom 12px
      margin-bottom 12px
    &:after
      content ''
      position absolute
      bottom 0
      left 0
      max-width 155px
      width 100%
      height 5px
      background $cv-orange
    .num
    .text
      display inline-block
      vertical-align middle
    .num
      width 95px
      +below(1500px)
        width 55px
        img
          height 35px
    .text
      width calc(100% - 100px)
      color: #080808;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 6.1px;
      +below(1500px)
        font-size 16px
        letter-spacing 3px
  .info
    max-width 370px
    color: #080808;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3.6px;
    +below(1500px)
      font-size 16px
      letter-spacing 1.5px


.home-about__content
  padding-top 3vw
  margin-top 3vw
  position relative
  max-width 813px
  width 100%
  text-align justify
  +below(1500px)
    padding-top 1.5vw
    margin-top 1.5vw
  &:before
    content ''
    position absolute
    top 0
    left 0
    max-width 155px
    width 100%
    height 5px
    background $cv-orange
  p
    margin-top 1.25vw
    color: #080808;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3.3px;
    +below(1500px)
      font-size 16px
      letter-spacing 1.5px
    &:first-child
      margin-top 0

.homesec4
  .pp-tableCell
    align-self flex-start
    padding-top 3vw

.home-catalog
  padding-left 4.14vw
  padding-right 6.5vw

.home-catalog__list
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between
  flex-wrap wrap

.home-catalog__item
  flex-basis 23%
  height 13.8vw
  margin-top 2vw
  text-decoration none
  background-color rgba(255, 255, 255, 0.5);
  display -webkit-flex
  display -ms-flex
  display flex
  flex-wrap wrap
  align-content center
  align-items center
  transition: .3s
  transform-origin: center;
  &:hover
    transform: scale(1.25);
    background-color rgba(255, 255, 255, 0.85);
    .arrow
      transform: scale(1);
      margin-top 1vw
      height auto
    +.bg
      opacity 1
  .title
    width 90%
    margin: 0 auto;
    color: #080808;
    pxvw(32)
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.52px;
    text-align center
  .arrow
    max-width 80%
    display block
    margin: 0 auto;
    transition: .3s
    height 0
    transform: scale(0);
  +.bg
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-size cover
    background-repeat no-repeat
    transition: .4s
    z-index -1
    opacity 0


.home-sertificates__title
.home-news__title
  padding-left 4.14vw
  margin-bottom 4vw
  .sofa-carousel__next
    margin-top 32px
    +below(1500px)
      margin-top 24px
.home-sertificates
.home-news
  .owl-stage
    transition: .3s !important;
    left 0
  .owl-item
    opacity 0.5
    &.active
      opacity 1
    &:nth-child(2n-1)
      .slide-owl
        align-items flex-start
    &:nth-child(2n)
      .slide-owl
        align-items flex-end
  .slide-owl
    display -webkit-flex
    display -ms-flex
    display flex
    min-height 20.8vw
    >div
      display -webkit-flex
      display -ms-flex
      display flex
    .date
      flex-basis 100%
      color: #080808;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 6.1px;
    .num
      padding-right 24px
      margin-right 24px
      position relative
      &:after
        content ''
        position absolute
        top 0
        right 0
        width 5px
        height 36px
        background $cv-orange
      img
        height 40px
        width auto
    .info
      .title
        color: #080808;
        font-size: 23px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 6.1px;
      .link
        display inline-block
        margin-top 24px
        color: #080808;
        font-size: 17px;
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 6.1px;

.home-news
  .slide-owl
    >div
      flex-direction column
    .date
      margin-bottom 18px
    .info
      padding-left 24px
      position relative
      &:before
        content ''
        position absolute
        top 0
        left 0
        width 5px
        height 36px
        background $cv-orange
