*
  font-family $opsan
  box-sizing: border-box;

ul
  list-style: none;

.right-side
  padding-left 404px
  +below(1500px)
    padding-left 280px
  +below(1200px)
    padding-left 0
  .pp-section
  .fp-section
    width calc(100% - 404px)
    height calc(100% - 115px)
    +below(1500px)
      width calc(100% - 280px)
      height calc(100% - 84px)
    +below(1200px)
      width 100%
    +below(767px)
      height 100%

.scroll-block
  height calc(100vh - 115px)
  overflow-y: auto;
  +below(1500px)
    height calc(100vh - 84px)
  +below(767px)
    height 100%

.main-title
  color: #080808;
  pxvw(49)
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.52px;
  &.bold
    font-weight bold
    letter-spacing: 6.1px;
  +below(767px)
    font-size 16px
    &.bold
      letter-spacing: 1.52px;

.pp-section.pp-table
    display -webkit-flex
    display -ms-flex
    display flex
    align-items center

.pp-tableCell
    vertical-align: middle;
    width: 100%;

#pp-nav
  position: fixed;
  z-index: 45;
  margin-top: -32px;
  top: 40%;
  opacity: 1;
  +below(767px)
    top 25%

#pp-nav span
.pp-slidesNav span
  top: 2px;
  left: 2px;
  width: 15px;
  height: 5px;
  background-color: #000;
  border: 1px solid #000;
  transform-origin: right;
  position: absolute;
  transition: .5s;
  z-index: 1;


#pp-nav li .active span
.pp-slidesNav .active span
  background: #000;
  transform: scaleX(3.5);
  +below(900px)
    transform: scaleX(2.5);

.hamburger
  display none
  position fixed
  top 20px
  right 20px
  width 44px
  height 43px
  padding 5px
  z-index 52
  background: rgba(255, 255, 255, 0.25);
  cursor pointer
  border: 2px solid $cv-orange
  border-radius: 5px
  &.is-active
    span:nth-child(1)
      opacity 0
      transform: scale(0);
    span:nth-child(2)
      transform: rotate(45deg);
      margin-top: 13px
    span:nth-child(3)
      transform: rotate(-45deg);
      margin-top: 13px
  span:nth-child(1)
    position absolute
    background $cv-orange
    width 30px
    height 4px
    margin-top 12px
    transition: .35s;
  span:nth-child(2)
    position absolute
    background $cv-orange
    width 30px
    height 4px
    margin-top 0px
    transition: .35s;
  span:nth-child(3)
    position absolute
    background $cv-orange
    width 30px
    height 4px
    margin-top 24px
    transition: .35s;
  +below(767px)
    display block
